<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" action="/fileLoad">
    <table width="359" height="160" border="2">
        <tr>
            <th colspan="2" scope="col">教师头像上传</th>
        </tr>
        <tr>
            <th width="110" scope="row">头像</th>
            <td width="191" align="center" valign="middle"><label for="fileField"></label>
                <input type="file" name="filePhoto" id="fileField"></td>
        </tr>
        <tr>
            <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="提交">
                <input type="submit" name="button2" id="button2" value="重置"></th>
        </tr>
    </table>


</form>

</body>
</html>